html,
body {
  background-color: black;
  height: 100%;
  width: 100%;
  margin-left: -1px;
}

.App {
  align-items: center;
}

/* Nav Bar */
.ListItem {
  color: grey;
  font-size: small;
  text-decoration: none;
}
.ListItem:hover {
  color: black;
}
