@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Rajdhani:wght@300;400;500&family=Roboto:wght@500&family=Squada+One&display=swap");
@import "react-alice-carousel/lib/alice-carousel.css";

html,
body {
  margin-left: -1px;
}

* {
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h4 {
  font-family: "roboto";
}

p {
  font-family: "Rajdhani";
  font-weight: 500;
}

/* .App {
  align-items: center;
} */

/* NAV BAR */
.navBar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}
.bar_content {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: start;
  color: black;
  text-decoration: none;
  font-family: "roboto";
  font-size: 1.3em;
  font-weight: 100;
  text-align: left;
}
.logo:hover {
  color: rgb(103, 58, 183);
}
.links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.ListItem {
  color: black;
  font-size: small;
  font-family: "roboto";
  text-decoration: none;
}
.ListItem:hover {
  color: rgb(103, 58, 183);
}
.social_media_icons {
  display: flex;
  justify-content: space-around;
  width: 10%;
}
.mediaLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Squada One";
  height: 25px;
  width: 25px;
}
.mediaLinks:hover {
  color: rgb(103, 58, 183);
}

/* APP */

/* HOME */

.videoContainer {
  overflow: hidden;
  z-index: -2;
  width: 100%;
  min-height: 1080px;
  margin-top: -8px;
}
/* Style the video: 100% width and height to cover the entire window */
.video {
  position: relative;
  /* width: 100%; */
  object-fit: cover;
  /* transform: translate(0, 50); 11.5 if nav is fixed */
  z-index: -2;
}
/* Add some content at the bottom of the video/page */
.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30px;
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  z-index: -1;
}
.subContent {
  text-align: center;
  padding: 5px;
  height: 400px;
}
.subContent p {
  color: #f1f1f1;
  font-size: 1.3rem;
  z-index: 1000;
}
.myNameHeadline {
  font-family: "Squada One";
  font-size: 4em;
  font-weight: 100;
  margin-bottom: -20px;
}
.main_profile_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
}

/* CAROUSELS - MY WORK */
.myWork {
  position: relative;
  align-items: center;
  width: 500px;
  margin-top: 50px;
  color: "black";
}
.carouselContainer {
  border-bottom: 5px solid #eeeeeead;
}
.carouselContainer > h5 {
  text-align: center;
}
.carouselTitle {
  text-align: center;
}
.projectDescription {
  text-align: center;
  margin: 0;
}
.carouselDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousels {
  align-items: center;
  width: 300px;
  border: 1px red solid;
}
.itemTitle {
  text-align: center;
}
.carouselImage {
  width: 180px;
}
.rec.rec-arrow {
  border-radius: 0;
  background-color: grey;
}
.rec.rec-arrow:hover,
.rec.rec-arrow:active {
  border-radius: 50%;
  color: black;
  background-color: black;
}
.rec.rec-arrow:disabled {
  visibility: hidden;
}

/* TECK SKILLS */
.tech_skills {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tech_skills > h1 {
  /* font-size: 3em; */
  text-align: center;
}
.tech_stack {
  align-items: center;
  width: 500px;
  margin-top: 50px;
  color: "black";
}
.table {
  width: 26vw;
}
.head {
  padding-bottom: 10px;
  font-size: larger;
  text-decoration: underline;
}
.bodyItem {
  padding-bottom: 5px;
  font-family: "Rajdhani";
  font-weight: 400;
}

/* ABOUT ME */
.about-me-photo {
  border-radius: 50%;
  align-items: center;
  top: 50px;
  bottom: 10px;
  width: 30vw;
  height: auto;
}
.resume {
  color: black;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  font-family: "roboto";
}
.resume:hover {
  color: rgb(103, 58, 183);
  border: 2px solid rgb(103, 58, 183);
}
