@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Rajdhani:wght@300;400;500&family=Roboto:wght@500&family=Squada+One&display=swap");
@import "react-alice-carousel/lib/alice-carousel.css";
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

html,
body {
  margin: 0;
  max-width: 100%;
  --nav-load-time: 500ms;
  --nav-link-load-time: 700ms;
  height: max-content;
}
body {
  background-image: url("./polygon-scatter-haikei (3).svg");
}
*,
::after,
::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h4 {
  font-family: "Rajdhani";
  color: #f1f1f1;
}

p {
  font-family: "Rajdhani";
  font-weight: 500;
}

/* .App {
  align-items: center;
} */

/* NAV BAR */
.navBar {
  position: fixed;
  align-items: center;
  width: 100%;
  z-index: 500;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  animation: nav-bar-load 400ms ease-in 500ms;
  animation-fill-mode: forwards;
  transform: translate(-100%);
  transition: top 0.03s;
}
.bar_content {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 8px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Squada One";
  height: 35px;
  width: 35px;
  padding-bottom: 5px;
}
.logo:hover {
  color: rgb(103, 58, 183);
}
.links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-size: 1.5rem;
}
.ListItem {
  color: black;
  font-size: 1.5rem;
  font-family: "Rajdhani";
  font-weight: 400;
  text-decoration: none;
}
.link_animation {
  animation-name: nav-link-load;
  animation-timing-function: ease-in;
  animation-duration: var(--nav-link-load-time);
  animation-delay: var(--nav-load-time);
  animation-fill-mode: forwards;
  transform: scale(0);
}
.ListItem:hover {
  color: rgb(103, 58, 183);
}
.social_media_icons {
  display: flex;
  justify-content: space-between;
  width: 15%;
}
.mediaLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Squada One";
  height: 35px;
  width: 35px;
  padding-bottom: 4px;
}
.mediaLinks:hover {
  color: rgb(103, 58, 183);
}

/* APP Loader */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  z-index: 1011;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgb(103, 58, 183);
  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgb(103, 58, 183);
  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgb(103, 58, 183);
  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1010;
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%); /* IE 9 */
  transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%); /* IE 9 */
  transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */
}
.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);

  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.no-js #loader-wrapper {
  display: none;
}
.no-js h1 {
  color: #222222;
}

/* HOME */
.home {
  background-size: cover;
  min-height: 103vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 70px;
}
/* .videoContainer {
  overflow: hidden;
  z-index: -2;
  width: 100%;
  min-height: 100vh;
  margin-top: -8px;
} */
/* Style the video: 100% width and height to cover the entire window */

/* .video {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100vh;
} */

/* Add some content at the bottom of the video/page */
.content_container {
  display: flex;
  justify-content: center;
}
.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  z-index: 5;
}
.subContent {
  text-align: center;
  padding: 5px;
}
.subContent p {
  color: #f1f1f1;
  font-size: 1.3rem;
  z-index: 1000;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}
.myNameHeadline {
  font-family: Audiowide;
  font-size: 4em;
  font-weight: 100;
  margin-bottom: -20px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}
.main_profile_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Projects */
.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.projects-header {
  font-size: 3rem;
  text-align: right;
  left: 50px;
}
.hr {
  width: 100px;
  height: 4px;
  border-color: rgb(103, 58, 183);
  background-color: rgb(103, 58, 183);
}
.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  /* border: 1px black solid; */
}
.p-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 450px;
  margin: 20px;
  margin-top: 0;
}
.projects-inner-card {
  width: fit-content;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 24, 41, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}
.projects-title {
  width: fit-content;
  padding: 5px 10px;
}
.projects-image-vendicator {
  width: 65%;
  /* border: 1px coral solid; */
  padding: 0;
}
.projects-image-travel-bug {
  width: 70%;
  margin-top: 20px;
  /* border: 1px coral solid; */
  padding: 0;
}
.projects-image-project-catwalk {
  width: 75%;
  /* border: 1px coral solid; */
  padding: 0;
}
.projects-button {
  border: 1px rgb(103, 58, 183) solid;
  background-color: rgb(103, 58, 183);
  width: fit-content;
  border-radius: 7px;
  padding: 5px;
  margin-top: 10px;
}
.projects-link {
  color: #f1f1f1;
  text-decoration: none;
}

/* TECK SKILLS */
.tech-skills-header {
  font-size: 3rem;
  left: 50px;
}
.tech_skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tech_skills_header {
  font-size: 3em;
  text-align: center;
}
.tech_stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  color: "black";
  max-width: 450px;
  min-height: 775px;
  margin: 0;
}
.tech_card_container {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
  width: 200px;
  height: 280px;
  margin: 0;
  background-color: #bfbebe59;
  border-radius: 5px;
  transition: all, 1s, ease-in;
}
.tech_card_container:hover {
  width: 210px;
  height: 290px;
}
.tech_development_card_container {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
  width: 200px;
  height: 360px;
  margin: 0;
  background-color: #bfbebe59;
  border-radius: 5px;
  transition: all, 1s, ease-in;
}
.tech_development_card_container:hover {
  width: 215px;
  height: 370px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 190px;
}
.head {
  font-size: 1.25rem;
  text-decoration: underline;
}
.bodyItem {
  padding-bottom: 5px;
  font-family: "Rajdhani";
  font-weight: 400;
}

/* ABOUT ME */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
}
.about_header {
  font-size: 3em;
  text-align: center;
}
.about_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  flex-wrap: wrap;
}
.about-me-photo {
  border-radius: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 30vw;
}
.about_p {
  width: 80%;
  font-weight: 400;
  text-align: justify;
}
.about_p > h2 {
  text-align: center;
}
.about_links {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.link {
  height: 40px;
}
.resume {
  align-items: center;
  color: rgb(103, 58, 183);
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  font-family: "roboto";
}
.gmail_button {
  align-items: center;
  padding: 5px 16px;
  border-radius: 5px;
  color: #de5246;
}
.linked_in_button {
  align-items: center;
  color: #0077b5;
  padding: 5px 17px;
  border-radius: 5px;
  text-decoration: none;
}
.github_button {
  align-items: center;
  color: rgb(103, 58, 183);
  border-radius: 5px;
  padding: 0 15px;
  padding-top: 9px;
  padding-bottom: 1px;
}

/* Footer */
.contact_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_container > h5 {
  font-size: 3em;
  color: #f1f1f1;
}
.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  color: #f1f1f1;
}
.name_email {
  width: 265px;
  height: 25px;
  background: #f3f3f3de;
}
.inputs {
  display: flex;
  flex-direction: column;
  color: #f1f1f1;
  margin-bottom: 10px;
}
.input-backgrounds {
  background: #f3f3f3de;
}
.footer {
  text-align: center;
  padding-bottom: 30px;
}

@keyframes nav-bar-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes nav-link-load {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .hr {
    width: 100px;
  }
  :root {
    font-size: 12px;
  }
  .bar_content {
    height: 7vh;
    justify-content: center;
  }
  .pixelTri_carousel {
    width: 360px;
  }
  .social_media_icons {
    display: none;
  }
  /* .nav-bar-home {
    display: none;
  } */
  .links {
    width: 260px;
    margin-left: 10px;
  }
  .projects-button {
    border: 1px rgb(103, 58, 183) solid;
    background-color: rgb(103, 58, 183);
    width: fit-content;
    border-radius: 7px;
    font-size: 2rem;
    padding: 10px;
    margin-top: 10px;
  }
  .p-card {
    max-width: 350px;
  }
  .projects-image-travel-bug {
    margin-bottom: 30px;
  }
  .tech-skills-header {
    font-size: 1.7rem;
  }
  .tech_card_container {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .tech_development_card_container {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .carouselContainer {
    margin-bottom: 30px;
  }
  .p {
    font-size: 1.5rem;
  }
}

@media (min-width: 2000px) {
  .bar_content {
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8px;
  }
  .about_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    width: 1100px;
  }
  .about_p {
    width: 85ch;
  }
  .hello {
    text-align: left;
  }
  .main_profile_img {
    height: 300px;
    width: 300px;
  }
}
/* body backgronf #010922d1


*/
